[submodule "nexus/skin.estuary.mod"]
	path = nexus/skin.estuary.mod
	url = https://github.com/mariango2/skin.estuary.mod
[submodule "nexus/skin.arctic.horizon.2.mod"]
	path = nexus/skin.arctic.horizon.2.mod
	url = https://github.com/mariango2/skin.arctic.horizon.2.mod
[submodule "repo/script.module.trakt.mod"]
	path = repo/script.module.trakt.mod
	url = https://github.com/mariango2/script.module.trakt.mod
[submodule "repo/script.trakt.mod"]
	path = repo/script.trakt.mod
	url = https://github.com/mariango2/script.trakt.mod
[submodule "repo/script.artwork.dump.mod"]
	path = repo/script.artwork.dump.mod
	url = https://github.com/mariango2/script.artwork.dump.mod
[submodule "repo/plugin.video.osmosis.mod"]
	path = repo/plugin.video.osmosis.mod
	url = https://github.com/mariango2/plugin.video.osmosis.mod
[submodule "omega/skin.estuary.mod"]
	path = omega/skin.estuary.mod
	url = https://github.com/mariango2/skin.estuary.mod
	branch = omega
[submodule "omega/skin.arctic.horizon.2.mod"]
	path = omega/skin.arctic.horizon.2.mod
	url = https://github.com/mariango2/skin.arctic.horizon.2.mod
	branch = omega
